* {
    box-sizing: border-box;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
}
#container {
    height: 100%;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 10%;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 980px;
}
main {
    display: flex;
    justify-content: center;
    height: 80%;
}
#div1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 980px;
}
h2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 10%;
}
#div2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
}
a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 35%;
    height: 10%;
    padding: 4%;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 10%;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 980px;
}
@media only screen and (max-width: 1399px) {
    h1 {
        width: 900px;
        font-size: 35px;
    }
    h2 {
        font-size: 35px;
    }
    #div1 {
        width: 900px;
    }
    a {
        padding: 3.5%;
        width: 35%;
        font-size: 30px;
    }
    p {
        width: 900px;
        font-size: 35px;
    }
}
@media only screen and (max-width: 1199px) {
    h1 {
        width: 793.6px;
        font-size: 30px;
    }
    h2 {
        font-size: 30px;
    }
    #div1 {
        width: 793.6px;
    }
    a {
        padding: 3%;
        width: 35%;
        font-size: 25px;
    }
    p {
        width: 793.6px;
        font-size: 30px;
    }
}
@media only screen and (max-width: 991px) {
    h1 {
        width: 652.8px;
        font-size: 25px;
    }
    h2 {
        font-size: 25px;
    }
    #div1 {
        width: 652.8px;
    }
    #div2 {
        flex-flow: column nowrap;
    }
    a {
        padding: 3%;
        width: 70%;
        font-size: 25px;
    }
    p {
        width: 652.8px;
        font-size: 25px;
    }
}
@media only screen and (max-width: 767px) {
    h1 {
        width: 518.4px;
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
    }
    #div1 {
        width: 518.4px;
    }
    a {
        padding: 3.5%;
        font-size: 20px;
    }
    p {
        width: 518.4px;
        font-size: 20px;
    }
}
@media only screen and (max-width: 575px) {
    h1 {
        width: 304px;
        font-size: 15px;
    }
    h2 {
        font-size: 15px;
    }
    #div1 {
        width: 304px;
    }
    a {
        padding: 4%;
        font-size: 15px;
    }
    p {
        width: 304px;
        font-size: 15px;
    }
}